*{
    margin: 0;
    border: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
    
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    
    background-color: rgba(245, 245, 220, 0.6);
}

nav{
    height: fit-content;
    width: 100%;
    background-color: rgba(238, 64, 11, 0.8);
}
a{
    color: whitesmoke;
    text-decoration: none;
}
nav .logo img{
    padding: 0 2rem;
}
nav{
    display: inline-flex;
    flex-wrap: wrap;

    justify-content: space-between;

    top: 0;
    position: sticky;
}
nav div{
    display: flex;
    align-content: center;
}
.navlinks{
    width: 50%;

    display: flex;
    flex-direction: row;
    align-content: center;

    text-align: center;
}
.navlinks .navbtn{
    width: 15%;

    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

    font-weight: 400;
    font-size: 1rem;
    border-left: 0.25px solid white;
}
.navlinks .navbtn:hover{
    background-color: rgba(134, 36, 6, 0.879);
}


.navlinks .register{
    width: 40%;
}
.navlinks .register div{
    width: 50%;
    height: 90%;

    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

    color: rgb(28, 5, 3);

    font-weight: 400;
    font-size: 1rem;
    border: 0.25px solid rgb(28, 5, 3);
    border-radius: 20px;

    margin: 0 5px;
}
.navlinks .register div:hover{
    background-color: rgba(38, 10, 2, 0.879);
    color: whitesmoke;
}

.maincontent{
    height: 30rem;
    width: 70rem;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.232), rgba(240, 132, 16, 0.452));

    border: 3px solid white;
    border-radius: 2rem;
    margin: 5rem auto;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
#home div{
    width: 70%;

    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.maincontent .sectionhead{
    flex-direction: row;
}
.maincontent .sectionhead h1{
    color:rgb(240, 132, 16);
    font-size: 6rem;
    font-weight: 800;
    
    padding: 0 1rem 2rem 1rem;

    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.maincontent .sectionhead .tag{
    color:rgb(240, 132, 16);
}

.maincontent .intro{
    color:azure;
    font-size: 2rem;
    font-weight: 400;

    text-align: justify;
}
.maincontent .freebtn{
    border-radius: 15px;
    background-color: white;

    margin: 2rem 0;
    padding: 0.75rem 0;

    color:rgb(240, 132, 16);
    font-size: large;
    font-weight: 400;
}
.maincontent .freebtn:hover{
    background-color: rgb(240, 132, 16);
    color:white;
}
#about{
    flex-direction: column;
}
#about .aboutsection{
    display: flex;
    flex-wrap: wrap;
    align-content: baseline;
    justify-content: center;

    padding: 1rem 0;
}
.maincontent .aboutsection .abouthead{
    color:rgb(240, 132, 16);
    font-size: 2rem;
    text-align: left;

    width: 30%;
}
.maincontent p{
    color:black;
    font-size: 1.3rem;
    text-align: left;

    width: 65%;
}

#tryit{
    height: max-content;
}
.maincontent .tryhead{
    color:rgb(240, 132, 16);
    font-size: 4rem;
    text-align: center;

    margin: 2rem 0;
}
.maincontent .search{
    width: 100%;
    font-size: 2rem;
    color:white;
}
.maincontent #element{
    width: 25rem;
    height: 1rem;

    padding: 0.5rem;
    border: white 1px solid;

    background-color: rgba(238, 64, 11, 0.633);

    color:white;
    font-size: 1rem;
}
.maincontent #element:hover{
    background-color: rgba(238, 64, 11, 1);
}
.maincontent #gobutton{
    padding: 0.5rem;

    background-color: white;

    color:rgba(238, 64, 11, 0.633);
    font-size: 1rem;
}
.maincontent #gobutton:hover{
    background-color: rgba(238, 64, 11, 1);
    color: whitesmoke;
}
.maincontent .maintable{
    height: 2rem;
    width: 100%;

    margin: 2rem 0;
    border: papayawhip 1px solid;

    color:rgba(238, 64, 11, 0.633);
}

.maincontent .maintable th{
    font-size: 1rem;
    padding: 1rem;

    font-weight: bold;
    font-size: 1.5rem;
    text-align: left;
}
.maincontent .maintable td{
    font-size: 1rem;
    padding: 1rem;

    font-size: 1.5rem;
    font-weight: 400;
}

#contact{
    align-content: center;
}
.maincontent .icons{
    width: 50%;

    display: flex;
    justify-content: space-between;
    padding-bottom: 3rem;
}
.maincontent .icons img:hover{
    border-radius: 100px;
    background-color: rgba(229, 19, 19, 0.44);
}
.maincontent .email{
    width: 50%;
    display: flex;
    flex-direction: row;
}
.email p{
    color:rgba(238, 64, 11, 0.633);
}
.email .emailbox{
    width: 85%;
    background-color: rgba(0, 0, 0, 0.123);
    border:rgb(28, 5, 3) 0.2px solid;
    border-radius: 10px;
}



@media screen and (max-width: 800px){
    nav{
        width: 100% !important;
    }
    #about{
        font-size: small;
        flex-direction: row;
    }
}