*{
    margin: 0;
    border: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
    background-image: url("bg.jpg");
    
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

nav{
    height: fit-content;
    width: 100%;
    background-color: rgba(68, 19, 231, 0.098);
}
nav .logo img{
    object-fit: scale-down;
    padding: 0 2rem;
}
nav{
    display: inline-flex;
    flex-wrap: wrap;

    justify-content: space-between;

    top: 0;
    position: sticky;
}
nav div{
    display: flex;
    align-content: center;
}
.navlinks{
    width: 35%;

    display: flex;
    flex-direction: row;
    align-content: center;

    color: whitesmoke;
    text-align: center;
}
.navlinks div{
    width: 25%;

    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    border: 0.25px solid white;
    border-radius: 2px;

    margin: 0 5px;
}

.maincontent{
    height: 30rem;
    width: 70%;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.232), rgba(213, 189, 189, 0.186), rgba(68, 19, 231, 0.167));

    border: 3px solid white;
    border-radius: 2rem;
    margin: 5rem auto;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
#home div{
    width: 70%;

    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.maincontent .sectionhead{
    flex-direction: row;
}
.maincontent .sectionhead h1{
    color:rgba(222, 206, 255, 0.862);
    font-size: 6rem;
    font-weight: 800;
    
    padding: 0 1rem 2rem 1rem;

    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.maincontent .sectionhead .tag{
    color:white;
}

.maincontent .intro{
    color:azure;
    font-size: 2rem;
    font-weight: 400;

    text-align: justify;
}
.maincontent .freebtn{
    border-radius: 15px;
    background-color: white;

    margin: 2rem 0;
    padding: 0.75rem 0;

    color:rgba(68, 19, 231);
    font-size: large;
    font-weight: 400;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#about .aboutsection{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

    padding: 1rem 0;
}
.maincontent .aboutsection .abouthead{
    color:rgba(222, 206, 255);
    font-size: 2rem;
    text-align: left;

    width: 30%;
}
.maincontent p{
    color:rgba(222, 206, 255);
    font-size: 1rem;
    text-align: left;

    width: 65%;
}

#tryit{
    height: max-content;
}
.maincontent .tryhead{
    color:rgba(222, 206, 255);
    font-size: 4rem;
    text-align: center;

    margin: 2rem 0;
}
.maincontent .search{
    width: 100%;
    font-size: 2rem;
    color:white;
}
.maincontent #element{
    width: 25rem;
    height: 1rem;

    padding: 0.5rem;
    border: white 1px solid;

    background-color: rgba(95, 158, 160, 0.429);

    color:white;
    font-size: 1rem;
}
.maincontent #gobutton{
    padding: 0.5rem;

    background-color: white;

    color:rgba(95, 158, 160, 1);
    font-size: 1rem;
}

.maincontent .maintable{
    height: 2rem;
    width: 100%;

    margin: 2rem 0;
    border: papayawhip 1px solid;

    color:rgba(222, 206, 255);
}

.maincontent .maintable th{
    font-size: 1rem;
    padding: 1rem;

    font-weight: bold;
    font-size: 1.5rem;
    text-align: left;
}
.maincontent .maintable td{
    font-size: 1rem;
    padding: 1rem;

    font-size: 1rem;
}