*{
    margin: 0;
    border: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
    
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

/*Start of Navigation Bar*/
nav{
    height: fit-content;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);

    display: inline-flex;
    flex-wrap: wrap;

    justify-content: space-between;

    top: 0;
    position: fixed;
}

nav .logo img{
    padding: 0 2rem;
}

nav a{
    color: whitesmoke;
    text-decoration: none;
}
nav div{
    display: flex;
    align-content: center;
}
.navlinks{
    width: 50%;

    display: flex;
    flex-direction: row;
    align-content: center;

    text-align: center;
}
.navlinks .navbtn{
    width: 15%;

    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

    font-weight: 400;
    font-size: 1rem;
    border-left: 0.25px solid white;
}
.navlinks .navbtn:hover{
    background-color: black;
}

.navlinks .register{
    width: 40%;
}
.navlinks .register div{
    width: 50%;
    height: 90%;

    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

    font-weight: 400;
    font-size: 1rem;
    border: 0.25px solid black;
    border-radius: 20px;

    margin: 0 5px;
}
.navlinks .register div:hover{
    background-color: rgba(0, 0, 0, 0.879);
    color: whitesmoke;
}
/*End of Navigation Bar*/



/* Start of Common*/
.maincontent{
    background-image: linear-gradient(to right, rgba(0, 119, 255, 0.399), rgba(0, 255, 213, 0.29), rgba(115, 255, 0, 0.207));

    color:rgba(24, 6, 0, 0.879);

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;

    padding-bottom: 2rem;
}
.contentsection{
    width: 60%;

    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}
.imgsection{
    width: 30%;
}
.maincontent img{
    object-fit: scale-down;
    padding-top: 3rem;
}
.maincontent .sectionhead{
    color:black;
    font-size: 4rem;
    text-align: center;

    margin: 2rem 0;

    animation-name: changecolor;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
/* End of Common*/




/* Start Of Home*/
.maincontent .contentsection .intro{
    color:black;
    font-size: 2rem;
    font-weight: 400;

    text-align: justify;

    display: flex;
    flex-wrap: wrap;

    animation-name: changecolor;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.maincontent .freebtn{
    width: 100%;

    border-radius: 15px;
    margin: 2rem 0;

    background-color: white;

    text-align: center;

    color: rgba(68, 0, 255, 0.991);
}
.maincontent .freebtn:hover{
    box-shadow: 7px 7px 35px rgba(66, 66, 66, 0.584);

    background-color: rgba(54, 0, 147, 0.578);
    color:white;
    padding: 0.25rem 0;
}
.freebtn a{
    text-decoration: none;
    color:black;
    
    font-size: 2rem;
    font-weight: 800;
}
/* End Of Home*/


/* Start Of Tryit*/
.maincontent .searchlabel{
    width: 100%;
    font-size: 2rem;

    animation-name: changecolor;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.maincontent #searchtext{
    width: 25rem;
    height: 1rem;

    padding: 0.5rem;

    background-color: rgba(74, 74, 74, 0.633);

    color:white;
    font-size: 1rem;
}
.maincontent #searchtext:hover{
    background-color: rgba(54, 0, 147, 0.578);
}
.maincontent #gobutton{
    padding: 0.5rem;

    background-color: white;
    border-radius: 5px;

    font-size: 1rem;
}
.maincontent #gobutton:hover{
    background-color: black;
    color: whitesmoke;
}
.maincontent .maintable{
    height: 2rem;
    width: 100%;

    margin: 2rem 0;
    border: papayawhip 1px solid;
}
.maincontent .maintable th{
    font-size: 1rem;
    padding: 1rem;

    font-weight: bold;
    font-size: 1.5rem;
    text-align: left;
}
.maincontent .maintable td{
    font-size: 1rem;
    padding: 1rem;

    font-size: 1.5rem;
    font-weight: 400;
}
/* End Of Tryit*/


/*Start of About*/
#about .contentsection{
    justify-content: space-evenly;
}
#about .aboutsection{
    width: 80%;
    padding-bottom: 2rem;
}
.maincontent .aboutsection .abouthead{
    color:black;
    font-size: 2rem;
    font-weight: 700;
    text-align: left;
    text-decoration: underline;
    padding-bottom: 0.5rem;

    animation-name: changecolor;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.maincontent p{
    color:rgb(48, 48, 48);
    font-size: 1.3rem;
    text-align: justify;

    animation-name: changecolor;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
/*End of About*/





/*Start of Contact*/
.maincontent .icons{
    width: 50%;

    display: flex;
    justify-content: space-between;
    padding-bottom: 3rem;
}
.maincontent .icons img:hover{
    border-radius: 100px;
    background-color: rgba(54, 0, 147, 0.578);
}
.maincontent .email{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.email .emailbox{
    height: 2rem;

    background-color: rgba(0, 0, 0, 0.123);
    border:rgb(28, 5, 3) 0.2px solid;
    border-radius: 10px;
}
.email .emailbox:hover{
    background-color: rgba(54, 0, 147, 0.578);
}
/*End of Contact*/





footer{
    width: 100%;
    height: 3rem;

    font-size: medium;
    background-color: black;
    color:aliceblue;

    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}



@media screen and (max-width: 800px){
    nav{
        width: 100% !important;
    }
    #about{
        font-size: small;
        flex-direction: row;
    }
}

@keyframes changecolor{
    0% {color: rgb(52, 0, 0)}
    50% {color:rgb(0, 54, 109)}
    100% {color: rgb(56, 0, 147)}
}
